@font-face {
  font-family: "Space Grotesk";
  src: url("SpaceGrotesk-Medium.woff") format(woff);
  src: url("SpaceGrotesk-Medium.woff2") format(woff2);
  src: url("SpaceGrotesk-Medium.eot") format(eot);
  font-display: "Space Grotesk";
}

/*----------------------------------------------------------*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Space Grotesk" !important;
}

#falling {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#name_input {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background-color: white;
  padding: 25px;
}

input {
  margin-left: 5px;
}
